{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "rules": {
    "max-len": [
      2,
      {
        "code": 120,
        "ignoreComments": true
      }
    ],
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}